.home {
    .art{
        display: block;
        cursor:pointer;
        border-radius:8px;
        border:1px solid #eeeeee;
        padding:30px 15px;
        margin:15px;
        transition:all .25s linear;
        &:hover{
            box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.08);
        }
        .tit{
            font-size:20px;
        }
    }
}
